@font-face {
  font-family: nav;
  src: url(./sf-pro-text_regular.woff2);
}

@font-face {
  font-family: semobold;
  src: url(./sf-pro-text_semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nav;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  background-color: #1d1c1c;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

#nav a {
  color: white;
  text-decoration: none;
  font-family: nav;
  font-size: 12px;
}

#nav a i {
  font-size: 17px;
  font-weight: 100;
}

#center {
  background-color: black;
  height: 80%;
  width: 100%;
  padding: 45px;
  font-family: nav;
  background-image: url(./images/iphone17.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#center h1 {
  color: white;
  text-align: center;
  font-size: 55px;
}

#center h5 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

#links button {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  background-color: #0077ed;
  color: #fff;
}

#air {
   margin-top: 20px;
  height: 80%;
  width: 100%;
  background-image: url(./images/iphoneair.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
}

#air h1{
    font-size: 55px;
}

#air p{
    font-size: 25px;
    font-weight: 500;
}

#links2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
}


#links2 button {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  background-color: #0077ed;
  color: #fff;

}

#iphone17{
margin-top: 10px;
  height: 80%;
  width: 100%;
  background-image: url(./images/iphones.png);
  background-size: contain;
  background-position: top;
  text-align: center;
padding: 50px;
}

#iphone17 h1{
font-size: 55px;
}

#iphone17 p{
font-size: 25px;
font-weight: 500;
}

#links3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}


#links3 button {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  background-color: #0077ed;
  color: #fff;

}



